In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2020_02.csv')
df

     min  max letter                   pwd
0      1   13      r      gqdrspndrpsrjfjx
1      5   16      j   jjjjkjjzjjjjjfjzjjj
2     14   16      r      rrrnrrrrrcnrgxrr
3      1    3      k            bkktwhgktv
4      3    5      q            dxqqqzmqvs
..   ...  ...    ...                   ...
995    2    5      r                nrrzrr
996    4    6      g                kggggg
997    6    7      c             cccccdqcc
998    2    6      x            vjkxbrfwnj
999   16   18      s  kssssssswssssssssssb

[1000 rows x 4 columns]

In [57]:
string = "gqdrspndrpsrjfjx"
string.index('r')

3

In [204]:
type(df['pwd'].values[0])

str

In [199]:
class myclass:

    def __init__(self, df, i):
        self.min = df.iat[i,0]
        self.max = df.iat[i,1]
        self.letter = df.iat[i,2]
        self.pwd = df.iat[i,3]

    def sol1(self):
        self.count = self.pwd.count(self.letter)
        if self.min <= self.count <= self.max:
            return 1
        else:
            return 0

    def sol2(self):
        try:
            self.ind = self.pwd.index(self.letter)
            self.pos = self.ind + 1
            if  self.pos == self.min and self.pos != self.max:
                return 1

            else:
                return 0

        except ValueError:
            return 0

In [189]:
#correct answer
num = 0 
for i in range(0,1000):
    mc = myclass(df, i)
    num += mc.sol1()
num

600

In [200]:
mc = myclass(df,999)
mc.sol2()

0

In [201]:
num2 = 0
for i in range(0,1000):
    mc = myclass(df, i)
    num2 += mc.sol2()
num2

130

In [197]:
#correct answer
c=0
for v in open("2020_02.txt","r").readlines():
    y=v.split 
    e=int
    f,s=y('-')
    i=e(f)-1
    j=e(s.split()[0])-1
    g,x,p=y()
    l=x[0]
    if(p[i]==l)^(p[j]==l):c+=1
print(c)

245