In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2020_01.csv')
df

     input
0     1765
1     1742
2     1756
3     1688
4     1973
..     ...
195   1429
196   1751
197   1722
198   1887
199   1968

[200 rows x 1 columns]

In [11]:
df_above = df.loc[df['input'] > 1000]
above = df_above['input'].tolist()

In [9]:
df_below = df.loc[df['input'] < 1000]
below = df_below['input'].tolist()
below

[343, 857, 483, 418, 616, 677, 741, 680]

In [15]:
for i in above:
    for j in below:
        if i+j == 2020:
            print (f'the entries are {i} and {j}')

the entries are 1404 and 616

In [16]:
1404 * 616

864864

In [19]:
for i in below:
    for j in below:
        for k in below:
            if i+j+k == 2020:
                print (f'the entries are {i} and {j} and {k}')

the entries are 857 and 483 and 680
the entries are 857 and 680 and 483
the entries are 483 and 857 and 680
the entries are 483 and 680 and 857
the entries are 680 and 857 and 483
the entries are 680 and 483 and 857

In [20]:
857*483*680

281473080